<h2>Voici la liste des potins :</h2>

<div class="card-columns">
<% @gossips.sort_by{|g| g.created_at}.reverse.each { |g| %>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        <%= link_to g.title, gossip_path(g.id) %>
      </h5>
      <p class="card-subtitle">
        publié par
        <%= link_to g.author.first_name, user_path(g.author.id) %>
      </p>
      <p>
        <i class="fas fa-comments">
          <%= g.comments.count %>
        </i>

        

      </p>
    </div>
  </div>

<% } %>
</div>
