<h2>Nous contacter</h2>
<p>
  Tu peux nous contacter au
  <a href="tel:0663311316">06 63 31 13 16</a>
  Si tu cherches un étalon de ta région
</p>
<p>
  Sinon on a un YOPMAIL
  <a href="mailto:thp.grenoble.s8@yopmail.com?subject=feedback">
    thp.grenoble.s8@yopmail.com</a>
</p>

<p>
  Après, une bonne méthode aussi, c'est de passer par le
  <a href="https://thehackingproject.slack.com/">slack THP</a>
</p>

<p>
  En tout cas, si tu as des commentaires (et qu'ils sont positifs)
  ils sont les bienvenus. (S'ils sont négatifs tu peux les garder merci :P)
</p>
