<h2>L'équipe</h2>
<p>Voici l'équipe derrière ce fabuleux projet</p>


<section class="card-columns">

  <div class='card teamMember'>
    <img src='img/anis.png' alt='anis'
    class='card-img-top'>
    <div class="card-body">
      <h3 class='cart-title'>ANIS BOUHOUCHE @Anis</h3>

      <p class='card-text'>Beau gosse de ta région, voici mon numéro :
        06 63 31 13 16 <br>PS: Me contacter après 20h SVP</p>
    </div>
  </div>

  <div class='card teamMember'>
    <img src='img/gui.png' alt='gui'
    class='card-img-top'>
    <div class="card-body">
      <h3 class='cart-title'>GUILLAUME SILVENT @gui3</h3>

      <p class='card-text'>"un sage assis va moins loin
        qu'un con qui marche" - Roger du PMU</p>
    </div>
  </div>


</section>
