<section>
  <h2><%= @city.name %></h2>
</section>

<section>
  <h3>Les potins liés à cette ville :</h3>

  <div class="card-columns">
  <% @city.gossips.each { |g| %>

    <div class="card">
      <h5 class="card-body">
        <%= link_to g.title, gossip_path(g.id), class:'stretched-link' %>
      </h5>
    </div>

  <% } %>
  </div>
</section>