/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header {
  background: #CA0;
  background: linear-gradient(#FFEDDF, #F1DEDE, #FE938C);
}

a {
  margin: 0 0.4em;
}
a:hover {
  color: #B05 !important;
  text-shadow: 2px 2px 3px #777;
  text-decoration: none !important;
}

nav {
  display: flex !important ;
  align-items: center !important;
}

h2 {
  margin: 2em 0 !important;
}

input[type=submit] {
  background: none;
  border: 1px solid #333;
}
input[type=submit]:hover {
  border: 1px solid #B05;
  color: #B05;
  text-shadow: 2px 2px 3px #777;
  box-shadow: 2px 2px 3px #777;
}
.icon {
  background: none;
  border: none;
  margin: 0 0.4em;
}
.icon:hover {
  color: #B05 !important;
  text-shadow: 2px 2px 3px #777;
  text-decoration: none !important;
}

.tag {
  display: inline-block;
  background: #C35;
  color: #FFF;
  font-weight: bold;
  border-radius: 0.8em;
  height: 2em;
  margin: 0.4em;
  padding: 0.4em;
  text-align: center;
  vertical-align: middle;
}

.compulsory {
  color: #F35 !important;
  font-weight: bold !important;
}

/* FOOTER ------------- */

.viewport {
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
}

body {
  background-color: #FE938C !important;
  color: #34373A !important;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #CBA;
  background: linear-gradient(#FE938C, #F1DEDE, #FFEDDF);
  color: #555;
  text-align: center;
  min-height: 100px;
}
footer p {
  margin: 1em;
}
footer a {
  color: #555 !important;
  margin: 1em;
}
footer a:hover {
  text-shadow: 2px 2px 2px #888;
}

.teamMember {
  max-width: 300px;
}
